<div class="card mb-3">
  <div class="row g-0">
    <div class="col-sm-4 float-start">
      <img
        src="../../assets/img/phones/dell-streak-7.0.jpg"
        class="mt-5"
        alt="..."
      />
    </div>
    <div class="col-sm-8 float-end">
      <div class="card-body">
        <div>
            <h1 class="card-title">Card title</h1>
            <hr />
            <p class="card-text">
              This is a wider card with supporting text below as a natural lead-in
              to additional content. This content is a little bit longer.
            </p>
        </div>

        <div>
            <div class="row p-5 m-2">
              <div class="col-3 border border-dark m-2 rounded-2 ">
                <img
                  src="../../assets/img/phones/dell-streak-7.1.jpg"
                  data-mdb-img=""
                  alt="Gallery image 2"
                  class="w-100"
                />
              </div>
              <div class="col-3 border border-dark m-2 rounded-2">
                <img
                  src="../../assets/img/phones/dell-streak-7.1.jpg"
                  data-mdb-img=""
                  alt="Gallery image 2"
                  class="w-100"
                />
              </div>
              <div class="col-3 border border-dark m-2 rounded-2">
                <img
                  src="../../assets/img/phones/dell-streak-7.1.jpg"
                  data-mdb-img=""
                  alt="Gallery image 2"
                  class="w-100"
                />
              </div>
              <div class="col-3 border border-dark m-2 rounded-2">
                <img
                  src="../../assets/img/phones/dell-streak-7.1.jpg"
                  data-mdb-img=""
                  alt="Gallery image 2"
                  class="w-100"
                />
              </div>
              <div class="col-3 border border-dark m-2 rounded-2">
                <img
                  src="../../assets/img/phones/dell-streak-7.1.jpg"
                  data-mdb-img=""
                  alt="Gallery image 2"
                  class="w-100"
                />
              </div>
              <div class="col-3 border border-dark m-2 rounded-2">
                <img
                  src="../../assets/img/phones/dell-streak-7.1.jpg"
                  data-mdb-img=""
                  alt="Gallery image 2"
                  class="w-100"
                />
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-6 col-md m-5">
        <h4>Availabilty and Networks</h4>
        <p> Available</p>
    </div>
    <div class="col-6 col-md m-5">
        <h4>Battery</h4>
        <p> Available</p>
    </div>
    <div class="col-6 col-md m-5">
        <h4>Storage and Memory</h4>
        <p> Available</p>
    </div>
    <div class="col-6 col-md m-5">
        <h4>Connectivity</h4>
        <p> Available</p>
    </div>

</div>